# Clerk
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Backend API
EXPO_PUBLIC_API_URL=

# Wasabi S3 (apenas backend)
WASABI_ACCESS_KEY=
WASABI_SECRET_KEY=
WASABI_BUCKET=
WASABI_REGION=

# Resend (apenas backend)
RESEND_API_KEY=

# Database (apenas backend)
DATABASE_URL=

# App
EXPO_PUBLIC_APP_NAME=Studio Up
EXPO_PUBLIC_APP_VERSION=1.0.0
